{
  "plugins": ["syntax-dynamic-import",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]]
  ],
  "presets": [
    ["es2015", { "modules": false }]
  ]
}